<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Bootstrap CSS -->
  <link href="libs/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>School Club Manager</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold text-success" href="index.php">SCM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="index.php">Clubs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="member.php">Members</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    
    <!-- Add -->
    <div class="d-flex justify-content-center">
      <div class="card col-md-6">
        <div class="card-body">
          <h5 class="card-title">Add New DATA_ADD_TITLE</h5>
          <!-- <form action="index.php" method="POST">
            <div class="mb-3">
              <label for="clubName" class="form-label">Club Name</label>
              <input type="text" class="form-control" id="clubName" name="club_name" required>
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary" name="add_club">Add Club</button>
            </div>
          </form> -->
          DATA_ADD_FORM
        </div>
      </div>
    </div>

    <!-- Table -->
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">DATA_TABLE_TITLE</h5>
        <table class="table align-middle text-center">
          <thead>
            <!-- <tr>
              <th>#</th>
              <th>Club Name</th>
              <th class="w-25">Actions</th>
            </tr> -->
            DATA_TABLE_HEADER
          </thead>
          <tbody>
            <!-- <tr>
              <td>1</td>
              <div class="normal-mode">
                <td class="normal-mode main-value">Club 1</td>
                <td class="normal-mode">
                  <button type="button" class="btn btn-sm btn-primary edit-btn">Edit</button>
                  <a href="index.php?delete=1" class="btn btn-sm btn-danger delete-btn">Delete</a>
                </td>
              </div>
              <div class="edit-mode">
                <form class="edit-mode" action="index.php" method="POST">
                  <input type="hidden" class="form-control" name="id_club" value="1">
                  <td class="edit-mode">
                    <input type="text" class="form-control" name="club_name" value="Club 1" required>
                  </td>
                  <td class="edit-mode">
                    <button type="submit" class="btn btn-sm btn-success save-btn" name="edit_club">Save</button>
                    <button type="button" class="btn btn-sm btn-secondary cancel-btn">Cancel</button>
                  </td>
                </form>
              </div>
            </tr> -->
            DATA_TABLE_BODY
          </tbody>
        </table>
      </div>
    </div>
    
  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script src="libs/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- jQuery -->
  <script src="libs/jquery.min.js"></script>
  <script>
    // Hide all edit-mode by default
    $('.edit-mode').hide();

    // Handle the clicked edit-btn
    $('.edit-btn').click(function() {
      // Find the parent row
      var row = $(this).closest('tr');
      // Find the normal-mode inside the parent row and hide them
      row.find('.normal-mode').hide();
      // Find the edit-mode inside the parent row and show them
      row.find('.edit-mode').show();
    });

    // Back to normal-mode
    $('.cancel-btn').click(function() {
      var row = $(this).closest('tr');
      row.find('.normal-mode').show();
      row.find('.edit-mode').hide();
    });

    // Make sure to submit only the form which the save button is clicked
    $('.save-btn').click(function() {
      var form = $(this).closest('form');
      form.submit();
    });

    // Make confirmation before delete
    $('.delete-btn').click(function(e) {
      e.preventDefault(); // Prevent the button to do it's default behavior (continue the href)
      var row = $(this).closest('tr');
      var mainValue = row.find('.main-value').text(); // Get the main-value of the row data
      var confirmDelete = confirm('Are you sure you want to delete ' + mainValue + '?');

      if (confirmDelete) {
        // Redirect to the PHP file for deletion
        window.location.href = $(this).attr('href');
      }
    });
  </script>
</body>

</html>
